@import './../../scss/abstracts/mixins';

.photo {
  margin-bottom: 3rem;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(black, .4);
  transition: all .2s;

  &__img, &__title {
    width: 22rem;
  }

  &__title {
    padding: 1rem;
  }

  @include respond(big-desktop) {
    &__img, &__title {
      width: 19rem;
    }
  }

  @include respond(tab-land) {
    &__img, &__title {
      width: 20rem;
    }
  }

  @include respond(tab-port) {
    &__img, &__title {
      width: 21rem;
    }
  }

  @include respond(phone) {
    &__img, &__title {
      width: 23rem;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

